# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
!.env.example

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
FUTURE_IMPROVEMENTS.md
